{
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"env": {
		"node": true,
		"es6": true
	},
	"extends": "eslint:recommended",
	"rules": {
		"indent": [
			"error", "tab", { "SwitchCase": 1, "FunctionDeclaration": { "body": 1, "parameters": 2 } },
		],
		"arrow-parens": [2, "as-needed"],
		"comma-dangle": ["error", "always-multiline"],
		"quotes": ["error", "single"],
		"dot-location": ["error", "property"],
		"dot-notation": "error",
		"no-implicit-globals": "error"
	},
	"overrides": [
		{
			"files": [ "**/spec.js", "**/test.js" ],
			"env": {
				"mocha": true
			},
			"globals": {
				"expect": true,
				"assert": true,
				"sleep": true,
				"freeze": true
			},
			"rules": {
				"no-console": 0
			}
		},
		{
			"files": [ "**/selenium-chrome-clear-cache/*" ],
			"env": {
				"browser": true
			}
		},
		{
			"files": [ "scripts/**", "**/bin/**", "**/bin.js", "packages/a1vy/**/*" ],
			"rules": {
				"no-console": 0
			}
		},
		{
			"files": [ "**/example.js" ],
			"rules": {
				"no-console": 0
			}
		}
	]
}
