{
	"extends": "@omrilotan",
	"parser": "babel-eslint",
  "plugins": [
    "log"
  ],
	"overrides": [
		{
			"files": [ "**/spec.js", "**/spec.mjs", "**/test.js" ],
			"env": {
				"mocha": true
			},
			"globals": {
				"chai": true,
				"expect": true,
				"assert": true,
				"sinon": true,
				"spy": true,
				"stub": true,
				"fake": true,
				"wait": true,
				"sleep": true
			},
			"rules": {
				"no-console": 0
			}
		},
		{
			"files": [ "**/selenium-chrome-clear-cache/*" ],
			"env": {
				"browser": true
			}
		},
		{
			"files": [ "scripts/**", "**/bin/**", "**/bin.js", "packages/a1vy/**/*" ],
			"rules": {
				"no-console": 0
			}
		},
		{
			"files": [ "**/example.js" ],
			"rules": {
				"no-console": 0
			}
		},
		{
			"files": [ "tests.mjs" ],
			"rules": {
				"no-console": 0
			}
		}
	]
}
