.DS_Store
*.log
.idea
node_modules
package-lock.json
docs
junit
dist/

# Chunkalyse
packages/chunkalyse/fixtures/stats.json
packages/chunkalyse/fixtures/stats.multi.json
packages/chunkalyse/fixtures/*.chunkalised.json

