defaults: &defaults
  working_directory: ~/app
  docker:
    - image: circleci/node:10.2-browsers

version: 2
jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Set NPM user
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Install dependencies
          command: npm i
      - save_cache:
          key: build-cache-{{ .Revision }}
          paths:
            - ../app
  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: build-cache-{{ .Revision }}
      - run:
          name: Test
          command: ./packages/run-all-the-things/index.js test lint
          environment:
            MOCHA_FILE: junit/test-results.xml
          when: always
      - store_test_results:
          path: ./junit
      - store_artifacts:
          path: ./junit
  readme:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: build-cache-{{ .Revision }}
      - run:
          name: Create this repo's readme
          command: npm run readme
      - run:
          name: Set git user
          command: curl ci-cd.net/v1/git/user | bash -s a1vy a01101100vy@gmail.com
      - run:
          name: Update changes
          command: curl ci-cd.net/v1/git/update | bash
  publish:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: build-cache-{{ .Revision }}
      - run:
          name: Set NPM user
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Publish to NPM
          command: npm run publish-packages
  docs:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: build-cache-{{ .Revision }}
      - run:
          name: Set NPM user
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Create the docs
          command: npm run doc
      - run:
          name: Set git user
          command: curl ci-cd.net/v1/git/user | bash -s a1vy a01101100vy@gmail.com
      - run:
          name: Push to gh-pages
          command: curl ci-cd.net/v1/gh/pages | bash -s docs/.

workflows:
  version: 2
  ci-cd:
    jobs:
      - install:
          context: globalenv
      - test:
          requires:
            - install
      - publish:
          context: globalenv
          requires:
            - test
      - readme:
          requires:
            - test
      - docs:
          context: globalenv
          requires:
            - publish

experimental:
  notify:
    branches:
      only:
        - master
