$background: #000;
$foreground: #fff;
$tabs-height: 24px;
$tab-icon-size: 14px;

.hyper_main {
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #f368e0, #ffa502) 1 100%;

	&.hyper_mainRounded {
		border-radius: 0 !important;
	}

	.header_header {
		background-color: $background;
		border-top: 1px solid #f368e0;
	}
	.tabs_borderShim {
		display:none !important;
	}
	.tab_tab {
		border: 0;
	}
	.tab_active {
		.tab_textInner {
			&:before {
				content: "⚡️";
			}
		}
	}
	.tabs_list, .tabs_nav, .tab_text {
		height: $tabs-height;
		line-height: $tabs-height;
		max-height: $tabs-height;
	}
	.terms_terms {
		margin-top: $tabs-height;
		border-bottom: 1px solid #ffa502;
		bottom: -1px;
	}
	.tab_icon {
		height: $tab-icon-size;
		width: $tab-icon-size;
		top: ($tabs-height - $tab-icon-size) / 2;
	}
	.tab_textActive {
		background: rgba(255, 255, 255, .05);
	}
}

@import './hyper-search';
