$text-color: #000;
$background-alt: #f6f8fa;
$borders: #dfe2e5;

* { margin: 0; padding: 0; }

body {
    color: $text-color;
    font: 100 100%/1.4 -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
    max-width: 900px;
    padding: 2em;
    margin: 0 auto;
}

h1 {
  font-size: 4em;
  margin: 0 0 .5em;

  figure {
      width: 1.25em;
      height: 1.25em;
      display: inline-block;
      vertical-align: text-top;
  }
}

h2, h3, h4, th {
    font-weight: 100;
}

h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.2em; }
h2, h3, h4 { margin: 0 0 .25em; }

p, pre, ul, table, blockquote { margin: 0 0 1em; }

a {
              color: #2980b9;
  &:visited { color: #8e44ad; }
  &:active  { color: #27ae60; }
}

table {
     border-collapse: collapse;
}

table, th, td {
     border: 1px solid $borders;
}

th, td, pre, code {
    padding: .2em .5em;
}

pre > code {
  padding: 0;
}

pre, code {
  color: #454545;
}

tbody tr:nth-child(odd),
pre, code {
  background: $background-alt;
}

blockquote {
  padding-left: .5em;
  border-left: 4px solid $background-alt;
}

img, pre, code, table {
  max-width: 100%;
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
  body { padding: 1em; }
}
